<%= render 'header' %>
<% if @nterm.blank? %>
 <p>There are not any nterms currently in the system. <%= @nterm %> </p>
<% else %>
 <p>These are the nterms in our system</p>
 <ul id="nterms">

 <%= will_paginate @nterm%>
  <table>
    <thead>
        <th>Modification</th>
        <th>Position</th>
        <th>Sequence</th>
        <th>Protein</th>
    </thead>
 <tbody>
 <% @nterm.each do |c| %>

 <tr>
 <td> <%= c.modificationclass %></td><td><%= c.pos + 1 %><td><%= c.protein.sequence[c.pos..(c.pos + 4)] %></td><td><%= link_to c.protein.recname, {:controller=> 'proteins', :action => 'show', :id => c.protein_id} %></td>

 </tr> 
 <% end %></tbody>
 </table>
 </ul>
<% end %>
 <div>
<%#= link_to "Export to CSV", {:method=> "show", :id => @nterm.map {|i| i.id }} %>
<%= link_to "Export to CSV", nterms_export_path(:format => :csv, :ids => @nterm.map {|i| i.id }) %>

 </div>
 
  <%= form_tag("index", method: "get") do %>
   <%= label_tag(:seq, "Sequence Search:") %>
   <%= text_field_tag(:seq) %>
   <%= label_tag(:pos, "Position Search:") %>
   <%=select_tag :loc, options_for_select(["at", "before", "after"]), {prompt: "Select location"} %>
   <%= text_field_tag(:pos) %>
   <%= select_tag :modifications, options_for_select(
Terminusmodification.includes(:kw).select{|t| !t.kw.nil?}.collect{|t| [t.kw.name, t.kw.name]}.uniq.sort_by{|e| e[0]}, params[:modifications]), {prompt: "Select Modifications"} %>
   <%= select_tag :species, options_for_select(Species.all.collect{|sp| [sp.name, sp.id]}, params[:species]), {prompt: "Select Species"} %>
   <%= label_tag(:ac, "Protein (UniProt Accession):") %>
   <%= text_field_tag(:ac) %>
   <%= submit_tag("Search") %>
 <% end %>
<%= render 'footer' %>