<%= render 'header' %>
TopFIND 4.1
<h1><%= @nterm.name %></h1>
<strong>External ID:</strong> <%= @nterm.externalid %><br />

<hr />
<%= link_to 'Back', {:action => 'index'} %>

  <%= render 'footer' %>