<% if @protein.blank? %>
<p>There are not any proteins currently in the system. <%= @protein %> </p>
<% else %>
<p>These are the current proteins in our system</p>
<ul id="proteins">
<%= will_paginate @protein%>
<% @protein.each do |c| %>
   <li><%= link_to c.name, {:action => 'show', :id => c.id} %></li>
<% end %>
</ul>
<% end %>

<%= form_tag("index", method: "get") do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query) %>
  
  <%= select_tag :species, options_for_select(Species.all.collect{|sp| [sp.name, sp.id]}, params[:species]), {prompt: "Select Species"} %>

  <%= submit_tag("Search") %>
<% end %>

<%= render 'footer' %>