<%= render 'header' %>

<h1>
	PathFINDer
</h1>

<% if @allPaths.values.select{|v| v.length > 0}.length == 0 %>
	<%= "No Paths found" %>
<% end %>

<% if File.exist?("public/images/PathFINDer/pw_graphviz.svg") %>
	<%= image_tag "PathFINDer/pw_graphviz.svg" %>
<% end %>

<table>
<% @sortet_subs.each do |target| -%>
	<tr>
	<td><b><%= "#{@gnames[target.split("_")[0]].to_s}(#{target.split("_")[0]})"%></b></td>
	</tr>
	<tr>
		<td> PROTEASE </td> 
		<% (@maxLength-1).times do |i| %>
		 <td> INTERACTION </td> <td> PROTEIN </td>
		<% end %>
	</tr>
	<% @allPaths[target].each do |path| %>
		<tr>
		<% path.each do |path_node| %>
			<% if(path_node[:pos] == -1) %>
			<% elsif(path_node[:pos] == 0) %>
			<td>
				<%= "&#8594 inhibits &#8594" %>
			</td>
			<% else %>
			<td>
				<%= path_node[:domains_left].collect{|f| "#{f.from}-<b>#{@domains_name_filter[f.name]}</b>-#{f.to}"}.join("...") %>
				...
				<%= path_node[:domains_hit].collect{|f| "#{f.from}-<b>#{@domains_name_filter[f.name]}</b> "}.join(" ") %>
				<%= "#{path_node[:pos]} &#8595 #{path_node[:pos]}"%>
				<%= path_node[:domains_hit].collect{|f| " <b>#{@domains_name_filter[f.name]}</b>-#{f.to}"}.join(" ") %>
				...
				<%= path_node[:domains_right].collect{|f| "#{f.from}-<b>#{@domains_name_filter[f.name]}</b>-#{f.to}"}.join("...") %>
			</td>
			<% end %>
			<td><%= '<a href="http://clipserve.clip.ubc.ca/topfind/proteins/' + path_node[:id] + '">' + @gnames[path_node[:id]] + '</a>' %></td>
		<% end %>
		</tr>
	<% end %>
	<tr><td> --- </td></tr>
<% end %>
</table>


<%= render 'footer' %>