<%= render 'header' %>

<!--THIS IS CHART KICK - AWESOMENESS -->
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= timeline @domainElements %>

<def tag="protein-filter">
  <div class="filter box">
    <div class="box-header">
      Filter:
    </div>   
    <div class="box-content"> 
			<%= form_tag(:controller => 'proteins', :action => 'show', id: @protein.ac) do %>
				<%= "Currently have #{@nterms.length} N-termini, #{@cterms.length} C-termini, #{@cleavages.length} Cleavages, and #{@substrates.length} Substrates"%>
				</p>
				FILTERS: (<%= link_to "REFRESH", {:action => 'show', :id => @protein.ac} %>)
				<br></br>
				DIRECTNESS
				<%= select_tag :directness, options_for_select(
					@all_evidence.collect{|e| e.directness}.uniq, params[:directness]), 
					{:multiple => true} %>
				PHYSIOLOGICAL RELEVANCE
				<%= select_tag :phys_rel, options_for_select(
					@all_evidence.collect{|e| e.phys_relevance}.uniq, params[:phys_rel]), 
					{:multiple => true} %>
				EVIDENCECODES
				<%= select_tag :evidencecodes, options_for_select(
					@all_evidence.collect{|e| e.evidencecodes.collect{|x| x.name}}.flatten.uniq, params[:evidencecodes]), 
					{:multiple => true} %>
				METHODOLOGY
				<%= select_tag :methodology, options_for_select(
					@all_evidence.collect{|e| e.methodology}.uniq, params[:methodology]), 
					{:multiple => true} %>
				PERTURBATION OF SYSTEM
				<%= select_tag :perturbations, options_for_select(
					@all_evidence.collect{|e| e.method_perturbation}.uniq, params[:perturbations]), 
					{:multiple => true} %>
				BIOLOGICAL SYSTEM
				<%= select_tag :methodsystems, options_for_select(
					@all_evidence.collect{|e| e.method_system}.uniq, params[:methodsystems]), 
					{:multiple => true} %>
				PROTEASE ASSIGNMENT CONFIDENCE
				<%= select_tag :proteaseassignmentconfidences, options_for_select(
					@all_evidence.collect{|e| e.proteaseassignment_confidence}.uniq, params[:proteaseassignmentconfidences]), 
					{:multiple => true} %>
				EVIDENCE NAMES
				<%= select_tag :evidences, options_for_select(
					@all_evidence.collect{|e| e.name}.uniq, params[:evidences]), 
					{:multiple => true} %>
				DATABASE
				<%= select_tag :repository, options_for_select(
					@all_evidence.collect{|e| e.repository}.uniq, params[:repository]), 
					{:multiple => true} %>
				LAB
				<%= select_tag :labs, options_for_select(
					@all_evidence.collect{|e| e.lab}.uniq, params[:labs]), 
					{:multiple => true} %>
				<%= submit_tag("Search") %>
			<% end %>
        
    </div>   
  </div>
</def> 

<def tag='general-protein-information'>
	<section class="left">
	  <section class="block">
	  
	    <h1><%= @protein.ac %>: <%= @protein.definition.match(/(?<==)([^;]*)/) %></h1>
	    <table class="protein-summary annotation">
                <h3> General Information </h3> <a class="uniprotlink" target="_blank" href="http://www.uniprot.org/uniprot/<%= @protein.ac %>"> UniprotKB </a>
	      <tr> 
	        <th>Protein names</th> 
	        <td><%= @protein.definition.scan(/=([^;]*)/).flatten.collect {|t| t.gsub(/[\["]/, "")  } %> </br></td>
	      </tr><tr> 
	        <th>Gene names</th> 
	        <td><%= Gn.find_by_protein_id(@protein.id).name%> </td>
	      </tr><tr>
	        <th>Organism</th>
	        <td><%= @protein.species.name %></td>
	      </tr><tr>
	        <th>Protease Family</th>
	        <td> <%= @protein.isprotease %> <span if=<%= @protein.isprotease %>(<a href="http://merops.sanger.ac.uk/cgi-bin/famsum?family=" target="_blank">MEROPS</a>)</span></td>
	      </tr><tr>
	        <th>Protease ID</th>
	        <td><view:merid/> <span if="&@protein.meropslink">(<a href="#{@protein.meropslink}" target="_blank">MEROPS</a>)</span></td>
	      </tr><tr if="&@protein.chromosome.present?">
	        <th>Chromosome location</th>
	        <% @protein.band.present? ? @band = @protein.band : @band= '';%>
	        <td><a href="/topfind/proteins?query=&chromosome=#{@protein.chromosome}"><view:chromosome/></a> <a href="/topfind/proteins?query=&chromosome=#{@protein.chromosome}&arm=#{@band.first}&band=#{@band.delete 'pq'}"><%=@band%></a></td>
	      </tr>
	    </table>
	  </section>             
	</section>
	<section class="right" width = 20px>
	  <section class="block" if= <%= @protein.isoforms.present? %>>
	    <h3>Isoforms</h3>
	      <%= @protein.isoforms.collect {|t| t.name} %> </br>
	      Sequence View </br><%= @protein.isoforms.collect {|t| t.protein.sequence.chars.each_slice(10).map(&:join)} %>
	      
	      
	
	  </section> 
	  <section class="block" unless="&@protein.is_canonical">
	    <h3>Isoforms</h3>
	    Additional information might be associated with the canonical isoform entry (<a href="/proteins/show/">extended view</a>)
	  </section>            	
	
	  <section class="block">
	    <h3>Sequence</h3> 
	    	<%= @protein.htmlsequence %>
	  </section>
	</section> 	  
	
<def tag='Protein_Neighborhood'>
	<a name="Protein_Neighborhood"/>
	<h2>Protein Neighborhood</h2>
	<% if File.exist?("#{@graphviz_file_full_path}.svg") %>
		<%= image_tag "#{@graphviz_file_image_path}.svg" %>
	<% end %>	
</def>
	
<section class="full category">
            </section>
	        <section class="full category">
              <pagenav/>
              <a name="features"/><h2>Domains &amp; Features</h2>
            </section>
			
<!-- N-TERMINI  -->
	        <section class="full category">
              <pagenav/>
              <a name="features"/><h2>N-termini</h2>
			  <table>
				<thead>
					<th>Sequence</th>
					<th>Position</th>
					<th>Evidence type</th>
					<th>Method</th>
					<th>Source (database)</th>
					<th>Source (Lab)</th>
					<th>Evidence name</th>
					<th>Publications (PMID)</th>
				</thead>
				<tbody>
					<% @nterms.sort{|x, y| x.pos <=> y.pos}.each do |c| %>
					<% c.terminusmodification.kw.name == 'unknown' ? mod = '' : mod = "#{c.terminusmodification.kw.name.downcase}-"%> 
				    <% sequ = "<sup>#{mod}#{c.pos}</sup>#{@protein.sequence[c.pos-1,1]}#{@protein.sequence[c.pos..c.pos+4]}..."%>
						<% c.evidences.each do |e| %>							
							<tr>
							<td><%= sequ %></td>
							<td><%= c.pos %></td>
							<td><%= e.evidencecodes.collect{|x| x.name}.join(", ") %></td>
							<td><%= e.methodology %></td>
							<td><%= link_to e.evidencesource.dbname, e.evidencesource.dburl, :target => "_blank" if e.evidencesource %>
							<td><%= e.lab %></td>
							<td><%= link_to e.name, {:controller => 'evidences', :action => 'show', :id => e.id} %></td>
							<td>
								<% e.publications.each do |x| %>
								<%= link_to x.pmid, "http://www.ncbi.nlm.nih.gov/pubmed/#{x.pmid}", :target => "_blank" %>,
								<% end %>
							</td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			  </table>
            </section>



<!-- C-TERMINI  -->
	        <section class="full category">
              <pagenav/>
              <a name="features"/><h2>C-termini</h2>
			  <table>
				<thead>
					<th>Sequence</th>
					<th>Position</th>
					<th>Evidence type</th>
					<th>Method</th>
					<th>Source (database)</th>
					<th>Source (Lab)</th>
					<th>Evidence name</th>
					<th>Publications (PMIDs)</th>
				</thead>
				<tbody>
					<% @cterms.sort{|x, y| x.pos <=> y.pos}.each do |c| %>
					<% c.terminusmodification.kw.name == 'unknown' ? mod = '' : mod = "#{c.terminusmodification.kw.name.downcase}-"%> 
				    <% sequ = "...#{@protein.sequence[c.pos-5..c.pos]}<sup>#{mod}#{c.pos}</sup>"%>
						<% c.evidences.each do |e| %>
							<tr>
							<td><%= sequ %></td>
							<td><%= c.pos %></td>
							<td><%= e.evidencecodes.collect{|x| x.name}.join(", ") %></td>
							<td><%= e.methodology %></td>
							<td><%= link_to e.evidencesource.dbname, e.evidencesource.dburl, :target => "_blank" if e.evidencesource %>
							<td><%= e.lab %></td>
							<td><%= link_to e.name, {:controller => 'evidences', :action => 'show', :id => e.id} %></td>
							<td>
								<% e.publications.each do |x| %>
								<%= link_to x.pmid, "http://www.ncbi.nlm.nih.gov/pubmed/#{x.pmid}", :target => "_blank" %>,
								<% end %>
							</td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			  </table>
            </section>

<!-- CLEAVAGES -->
	        <section class="full category">
              <pagenav/>
              <a name="features"/><h2>Cleavages</h2>
			  <table>
				<thead>
					<th>Protease</th>
					<th>Position</th>
					<th>Sequence</th>
					<th>Evidence type</th>
					<th>Method</th>
					<th>Source (database)</th>
					<th>Source (Lab)</th>
					<th>Evidence name</th>
					<th>Publications (PMIDs)</th>
				</thead>
				<tbody>
					<% @cleavages.sort{|x, y| x.pos <=> y.pos}.each do |c| %>
				    <% sequ = "#{@protein.sequence[c.pos-3..c.pos]}.|.#{@protein.sequence[c.pos..c.pos+3]}"%>
						<% c.evidences.each do |e| %>
							<tr>
							<td><%= link_to c.protease.name, {:action => 'show', :id => c.protease.ac} %></td>
							<td><%= c.pos%></td>
							<td><%= sequ %></td>
							<td><%= e.evidencecodes.collect{|x| x.name}.join(", ") %></td>
							<td><%= e.methodology %></td>
							<td><%= link_to e.evidencesource.dbname, e.evidencesource.dburl, :target => "_blank" if e.evidencesource %>
							<td><%= e.lab %></td>
							<td><%= link_to e.name, {:controller => 'evidences', :action => 'show', :id => e.id} %></td>
							<td>
								<% e.publications.each do |x| %>
								<%= link_to x.pmid, "http://www.ncbi.nlm.nih.gov/pubmed/#{x.pmid}", :target => "_blank" %>,
								<% end %>
							</td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			  </table>
            </section>	

<!-- SUBSTRATES -->
	        <section class="full category">
              <pagenav/>
              <a name="features"/><h2>Substrates</h2>
			  <table>
				<thead>
					<th>Substrate</th>
					<th>Position</th>
					<th>Sequence</th>
					<th>Evidence type</th>
					<th>Method</th>
					<th>Source (database)</th>
					<th>Source (Lab)</th>
					<th>Evidence name</th>
					<th>Publications (PMIDs)</th>
				</thead>
				<tbody>
					<% @substrates.sort{|x, y| x.pos <=> y.pos}.each do |c| %>
				    <% sequ = "#{c.substrate.sequence[c.pos-3..c.pos]}.|.#{c.substrate.sequence[c.pos..c.pos+3]}"%>
						<% c.evidences.each do |e| %>
							<tr>
							<td><%= link_to c.substrate.name, {:action => 'show', :id => c.substrate.ac} %></td>
							<td><%= c.pos%></td>
							<td><%= sequ %></td>
							<td><%= e.evidencecodes.collect{|x| x.name}.join(", ") %></td>
							<td><%= e.methodology %></td>
							<td><%= link_to e.evidencesource.dbname, e.evidencesource.dburl, :target => "_blank" if e.evidencesource %>
							<td><%= e.lab %></td>
							<td><%= link_to e.name, {:controller => 'evidences', :action => 'show', :id => e.id} %></td>
							<td>
								<% e.publications.each do |x| %>
								<%= link_to x.pmid, "http://www.ncbi.nlm.nih.gov/pubmed/#{x.pmid}", :target => "_blank" %>,
								<% end %>
							</td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			  </table>
            </section>			

			
			
			<section class="full">
              <%=@simplepanel%>
            </section>
	
</def>


<%= link_to 'Back', {:action => 'index'} %>

<%= render 'footer' %>