<%= render 'header' %>
<def tag='general-protein-information'>
	<section class="left">
	  <section class="block">
	  
	    <h1><%= @protein.ac %>: <%= @protein.definition.match(/(?<==)([^;]*)/) %></h1>
	    <table class="protein-summary annotation">
                <h3> General Information </h3> <a class="uniprotlink" target="_blank" href="http://www.uniprot.org/uniprot/<%= @protein.ac %>"> UniprotKB </a>
	      <tr> 
	        <th>Protein names</th> 
	        <td><%= @protein.definition.scan(/=([^;]*)/).flatten.collect {|t| t.gsub(/[\["]/, "")  } %> </br></td>
	      </tr><tr> 
	        <th>Gene names</th> 
	        <td><%= Gn.find_by_protein_id(@protein.id).name%> </td>
	      </tr><tr>
	        <th>Organism</th>
	        <td><%= @protein.species.name %></td>
	      </tr><tr>
	        <th>Protease Family</th>
	        <td> <%= @protein.isprotease %> <span if=<%= @protein.isprotease %>(<a href="http://merops.sanger.ac.uk/cgi-bin/famsum?family=" target="_blank">MEROPS</a>)</span></td>
	      </tr><tr>
	        <th>Protease ID</th>
	        <td><view:merid/> <span if="&@protein.meropslink">(<a href="#{@protein.meropslink}" target="_blank">MEROPS</a>)</span></td>
	      </tr><tr if="&@protein.chromosome.present?">
	        <th>Chromosome location</th>
	        <% @protein.band.present? ? @band = @protein.band : @band= '';%>
	        <td><a href="/topfind/proteins?query=&chromosome=#{@protein.chromosome}"><view:chromosome/></a> <a href="/topfind/proteins?query=&chromosome=#{@protein.chromosome}&arm=#{@band.first}&band=#{@band.delete 'pq'}"><%=@band%></a></td>
	      </tr>
	    </table>
	  </section>             
	</section>
	<section class="right" width = 20px>
	  <section class="block" if= <%= @protein.isoforms.present? %>>
	    <h3>Isoforms</h3>
	      <%= @protein.isoforms.collect {|t| t.name} %> </br>
	      Sequence View </br><%= @protein.isoforms.collect {|t| t.protein.sequence.chars.each_slice(10).map(&:join)} %>
	      
	      
	
	  </section> 
	  <section class="block" unless="&@protein.is_canonical">
	    <h3>Isoforms</h3>
	    Additional information might be associated with the canonical isoform entry (<a href="/proteins/show/">extended view</a>)
	  </section>            	
	
	  <section class="block">
	    <h3>Sequence</h3> 
	    	<%= @protein.htmlsequence %>
	  </section>
	</section> 	  
	
<section class="full category">
            </section>
	        <section class="full category">
              <pagenav/>
              <a name="features"/><h2>Domains &amp; Features</h2>
            </section>
			
<!-- N-TERMINI  -->
	        <section class="full category">
              <pagenav/>
              <a name="features"/><h2>N-termini</h2>
			  <table>
				<thead>
					<th>Sequence</th>
					<th>Position</th>
					<th>Evidence type</th>
					<th>Method</th>
					<th>Source (database)</th>
					<th>Source (Lab)</th>
					<th>Name</th>
					<th>Publication</th>
				</thead>
				<tbody>
					<% @protein.nterms.sort{|x, y| x.pos <=> y.pos}.each do |c| %>
					<% c.terminusmodification.kw.name == 'unknown' ? mod = '' : mod = "#{c.terminusmodification.kw.name.downcase}-"%> 
				    <% sequ = "<sup>#{mod}#{c.pos}</sup>#{@protein.sequence[c.pos-1,1]}#{@protein.sequence[c.pos..c.pos+4]}..."%>
						<% c.evidences.each do |e| %>							
							<tr>
							<td><%= sequ %></td>
							<td><%= c.pos %></td>
							<td><%= e.evidencecodes.collect{|x| x.name}.join(", ") %></td>
							<td><%= e.methodology %></td>
							<td><%= e.evidencesource.dbname if e.evidencesource %></td>
							<td><%= e.lab %></td>
							<td><%= e.name %> TODO LINK</td>
							<td><%= e.publications.collect{|x| x.ref}.join("\n") %> TODO LINK</td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			  </table>
            </section>
			
			
			
			
			<section class="full">
              <%=@simplepanel%>
            </section>
	
</def>

<%= link_to 'Back', {:action => 'index'} %>

  <%= render 'footer' %>