<%= render 'header' %>
<def tag='general-protein-information'>
	<section class="left">
	  <section class="block">
	  
	    <h1><%= @protein.ac %>: <%= @protein.definition.match(/(?<==)([^;]*)/) %></h1>
	    <table class="protein-summary annotation">
                <h3> General Information </h3> <a class="uniprotlink" target="_blank" href="http://www.uniprot.org/uniprot/<%= @protein.ac %>"> UniprotKB </a>
	      <tr> 
	        <th>Protein names</th> 
	        <td><%= @protein.definition.scan(/=([^;]*)/).flatten.collect {|t| t.gsub(/[\["]/, "")  } %> </br></td>
	      </tr><tr> 
	        <th>Gene names</th> 
	        <td><%= Gn.find_by_protein_id(@protein.id).name%> </td>
	      </tr><tr>
	        <th>Organism</th>
	        <td><%= @protein.species.name %></td>
	      </tr><tr>
	        <th>Protease Family</th>
	        <td> <%= @protein.isprotease %> <span if=<%= @protein.isprotease %>(<a href="http://merops.sanger.ac.uk/cgi-bin/famsum?family=" target="_blank">MEROPS</a>)</span></td>
	      </tr><tr>
	        <th>Protease ID</th>
	        <td><view:merid/> <span if="&@protein.meropslink">(<a href="#{@protein.meropslink}" target="_blank">MEROPS</a>)</span></td>
	      </tr><tr if="&@protein.chromosome.present?">
	        <th>Chromosome location</th>
	        <% @protein.band.present? ? @band = @protein.band : @band= '';%>
	        <td><a href="/topfind/proteins?query=&chromosome=#{@protein.chromosome}"><view:chromosome/></a> <a href="/topfind/proteins?query=&chromosome=#{@protein.chromosome}&arm=#{@band.first}&band=#{@band.delete 'pq'}"><%=@band%></a></td>
	      </tr>
	    </table>
	  </section>             
	</section>
	<section class="right" width = 20px>
	  <section class="block" if= <%= @protein.isoforms.present? %>>
	    <h3>Isoforms</h3>
	      <%= @protein.isoforms.collect {|t| t.name} %> </br>
	      Sequence View </br><%= @protein.isoforms.collect {|t| t.protein.sequence.chars.each_slice(10).map(&:join)} %>
	      
	      
	
	  </section> 
	  <section class="block" unless="&@protein.is_canonical">
	    <h3>Isoforms</h3>
	    Additional information might be associated with the canonical isoform entry (<a href="/proteins/show/">extended view</a>)
	  </section>            	
	
	  <section class="block">
	    <h3>Sequence</h3> 
	    	<%= @protein.htmlsequence %>
	  </section>
	</section> 	  
	
<section class="full category">
              <pagenav/>
              <a name="neigbourhood"/><h2>Neighbourhood <img class ="help"  src='/topfind/images/help.png' alt='?' title="#{@documentations['p-cytoscape'].first.short}"/> </h2>  
	    <def tag="cytoscape">
  <script type="text/javascript">
      window.onload=function() {
          // id of Cytoscape Web container div
          var div_id = "cytoscapeweb";
          
		  var xml = "<%=escape_javascript(@network)%>"
          // initialization options
          var options = {
              // where you have the Cytoscape Web SWF
              swfPath: "/assets/javascripts/cytoscapeweb/swf/CytoscapeWeb",
              // where you have the Flash installer SWF
              flashInstallerPath: "/assets/javascripts/cytoscapeweb/swf/playerProductInstall"
          };
          
          
          
          // init and draw
          var vis = new org.cytoscapeweb.Visualization(div_id, options);
          vis.addListener("dblclick", "nodes", function(evt) {
			var nodes = evt.target;
			window.open(nodes.data.link,'_blank');
		  });
          
          var shapeMapper = {
          		attrName: "nodetype",
          		entries: [ {attrValue: "protein", value: "ELLIPSE"},
          				   {attrValue: "protease", value: "VEE"},
          				   {attrValue: "additional", value: "ROUNDRECT"} ]
          }; 
          
          var colorMapper = {
            	attrName: "id",
            	entries: [ { attrValue: "<%= @protein.shortname %>", value: "red"} ]
            	};
          var edgearrowMapper = {
              attrName: "edgetype",
              entries: [ {attrValue: "cleavage", value: "DELTA"},
                         {attrValue: "inhibition", value: "t"},
                         {attrValue: "interaction", value: "NONE" } ]
          };  	
          var edgecolorMapper = {
              attrName: "edgetype",
              entries: [ {attrValue: "cleavage", value: "blue"},
                         {attrValue: "inhibition", value: "red"},
                         {attrValue: "interaction", value: "#333333"} ]
          };  	
          
          var style = {
            global: {
                backgroundColor: "#fff",
                tooltipDelay: 1000
            },
            nodes: {
                shape: { defaultValue: "ELLIPSE",
                         discreteMapper: shapeMapper },
                color: { defaultValue: "#fff",
                         discreteMapper: colorMapper },  
                opacity: 1,
                size: { defaultValue: 36 },
                label: { passthroughMapper: { attrName: "id" } },
                tooltipText: { passthroughMapper: { attrName: "label" } },
                borderColor: "#333",
                labelFontSize: 15,
                tooltipFontSize: 20,
                tooltipText: "<b>${label}</b>"
            },
            edges: {
                color: { defaultValue: "#aaa",
                         discreteMapper: edgecolorMapper},
                width: 2,
                mergeWidth: 2,
                opacity: 1,
                label: { passthroughMapper: { attrName: "label" } },
                labelFontSize: 10,
                labelFontWeight: "bold",
                targetArrowShape: { defaultValue: 'NONE',
                                    discreteMapper: edgearrowMapper}
             }
           };
          
          var draw_options = {
              // your data goes here
              network: xml ,
              
              // show edge labels too
              edgeLabelsVisible: false,
              nodeTooltipsEnabled: true,     
              
              // let's try another layout
              layout: "Radial",
              options: { angleWidth: 180, radius: 10 },
              
              //layout: "ForceDirected"
              
              // set the style at initialisation
              visualStyle: style,
              
              // hide pan zoom
              panZoomControlVisible: true 
          };
          
          
          
          vis.draw(draw_options);         
      };

  </script> 


  <div id="cytoscapeweb">
      Network neighborhood
  </div>
</def>
            </section>
	
	
</def>

<%= link_to 'Back', {:action => 'index'} %>

  <%= render 'footer' %>